body {
  margin: 0px;
  padding: 0px;
}

.active {
  font-weight: bold;
}

.logo {
  width: 25%;
  font-family: "Lobster Two";
  float: left;
  height: 60px;
  color: #ffba0c;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  box-sizing: border-box;
}

.navbar {
  width: 75%;
  height: 60px;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  font-family: "Lobster Two";
  /* font-family:sans-serif ; */
  color: black;
  font-size: 20px;
  padding-left: 50px;
}



.social {
  width: 25%;
  height: 710px;
  float: left;
  box-sizing: border-box;
  border-right: 2px solid #e0e0e0;
}

.social button {
  cursor: pointer;
}

.buttons {
  width: 90%;
  height: 250px;
  /* background-color: green; */
  font-family: "Lobster Two";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  /* cursor:pointer; */
}

.social .instagram {
  font-family: "Lobster Two";
  height: 50px;
  width: 200px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 23px;
  border-radius: 8px;
}
.social .twitter {
  font-family: "Lobster Two";
  height: 50px;
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 23px;
  border: none;
  border-radius: 8px;
}
.social .linkedin {
  font-family: "Lobster Two";
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 23px;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.social .buttons svg {
  width: 25px;
  height: 25px;
}
/* .social .buttons :hover {
  transform: scale(1.1);
  transition: 0.5s;
} */
.social .buttons a {
  text-decoration: none;
}
/* hr {
  display: none;
} */

.content {
  width: 75%;
  height: 670px;
  float: left;
}

.content .about {
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .about p {
  font-family: alegreya sans;
  font-size: 20px;
  margin: 0px;
}
.content .about h1 {
  font-family: "Lobster Two";
  text-decoration: underline;
}

.content .vision {
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content .vision p {
  font-family: alegreya sans;
  font-size: 20px;
  margin: 0px;
  background-color: #1da1f2;
}
.content .vision h1 {
  text-decoration: underline;
  padding-bottom: none;
  font-family: "Lobster Two";
}


html {
  height:100%;
}

body {
  background: linear-gradient(
    -45deg,
    rgba(255, 186, 12, 0.7),
    rgba(231, 60, 126, 0.5),
    rgba(29, 161, 242, 0.7),
    rgba(35, 213, 171, 0.5),
    rgba(255, 106, 0, 0.7),
    rgba(132, 94, 194, 0.5),
    rgba(0, 188, 212, 0.7 ),
    rgba(76, 175, 80, 0.5)
  );
  background-size: 100% 100%;
  /* animation: gradient 50s linear infinite; */
  height: 100%;
}




@media screen and (min-width: 100px) and (max-width: 700px){
  .logo {
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
  }

  .navbar {
    float: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    margin: 0px;
    /* border-bottom: none */
    
  }
  .navbar a {
    padding: 0px;
    margin: 0px;
  }
  .social {
    float: none;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    margin: 0px;
    border-right: none;
  }
  .social .instagram{
    width: 150px;
  }
  .social .twitter{
    width: 150px;
  }
  .social .linkedin{
    width: 150px;
  }
  .buttons {
    width: 100%;
    height: auto;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* margin: 0px; */
    /* padding: 0px; */
  }
  /* .buttons:hover {
    display: none;
  } */
  .social .buttons {
    padding: 0px;
    margin-top: 15px;
  }
  .social a .instagram{
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .social a .twitter{
    margin-bottom: 15px;
  }
  /* .content { */
    /* float: none; */
    /* width: 100%; */
    /* height: auto; */
    /* background-color: aquamarine; */
  /* } */
  /* .content .about {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .content .about br {
    display: none;
  }
  .content .vision br {
    display: none;
  }
  .content .vision {
    width: 100%;
    margin-top: 50px;
  } */
  hr {
    display: block;
    margin: 0px;
  }
  /* .buttons span{
    display: none;
  } */
  body{
    background-attachment: fixed;
  }

}


