body {
  margin: 0px;
  padding: 0px;
}

.active {
  font-weight: bold;
}

.logo {
  width: 25%;
  font-family: "Lobster Two";
  float: left;
  height: 60px;
  color: #ffba0c;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  box-sizing: border-box;
}

.navbar {
  width: 75%;
  height: 60px;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  font-family: "Lobster Two";
  /* font-family:sans-serif ; */
  color: black;
  font-size: 20px;
  padding-left: 50px;
}

.post {
  width: 25%;
  height: 710px;
  float: left;
  box-sizing: border-box;
  border-right: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}
.post button {
  font-family: "Lobster Two";
  width: 95.5%;
  /* padding: 5px 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 10px;
  background-color: #1da1f2;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  margin-top: 8px;
  color: #000;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); /* Adjust values as needed */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

textarea {
  width: 89.7%;
  height: 140px;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 2px solid black;
  /* background-color: #d9d9d9; */
  font-family: "Lobster Two";
  font-size: 18px;
  color: #999999;
  padding: 10px 10px 0px 10px;
  resize: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); /* Adjust values as needed */
  backdrop-filter: blur(20px);
  /* -webkit-backdrop-filter: blur(20px); */
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
}
textarea:focus {
  color: black;
}
textarea::placeholder {
  color: #000;
}

hr {
  display: none;
}

.content {
  width: 75%;
  height: 710px;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
  /* box-sizing: border-box; */
}

.card1,
.card2,
.card3,
.card4 {
  width: 97%;
  height: 205px;
  background-color: #1da1f2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  cursor: pointer;
}
.card1 {
  margin-top: 1%;
  padding-top: 8px;
  padding-left: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card2 {
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card3 {
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card4 {
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.profile {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
}
.content p{
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(
    -45deg,
    rgba(255, 186, 12, 0.7),
    rgba(231, 60, 126, 0.5),
    rgba(29, 161, 242, 0.7),
    rgba(35, 213, 171, 0.5),
    rgba(255, 106, 0, 0.7),
    rgba(132, 94, 194, 0.5),
    rgba(0, 188, 212, 0.7 ),
    rgba(76, 175, 80, 0.5)
  );
  background-size: 100% 100%;
  animation: gradient 50s linear infinite;
  height: 100%;
}

/* @keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  12.5% {
    background-position: 100% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  37.5% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  62.5% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 100% 100%;
  }
  87.5% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
} */

@media screen and (min-width: 100px) and (max-width: 700px) {
  .logo {
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
  }

  .navbar {
    float: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .navbar a {
    padding: 0px;
    margin: 0px;
  }
  .post {
    float: none;
    width: 100%;
    height: 217px;
    border-right: none;
  }
  .post button {
    height: 40px;
    width: 94%;
    font-size: 22px;
  }
  .content {
    float: none;
    width: 100%;
    height: auto;
  }
  .profile {
    height: 25px;
    width: 25px;
  }

  hr {
    display: block;
  }
  .card1,
  .card2,
  .card3,
  .card4{
      width: 92%;
  }
  .content p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
