<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theVue</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <!-- <script src="index.js"></script> -->
</head>
<body>
    <div class="logo"><a style="text-decoration: none;
    color: #ffba0c;" href="index.html">theVue</a></div>


    <div class="navbar">
        <a href="{% url 'home' %}" class="active">Home</a>
        <a href="{% url 'trending' %}">Trending</a>
        <a href="{% url 'aboutus' %}">About Us</a>

    </div>
    
    
    
    <div class="post">
        <form action="" method="post">
            {% csrf_token %}
            <textarea id="textarea-home" maxlength="300" placeholder="What is happening..." name="content"></textarea>
            <input type="submit" value="Post" class="subbtn">
    </form>
    </div>

    <hr>
    <div class="content">
        {% for i in back_data %}

        <div class="card1">
            <div class="profile"></div>
            <p>{{i.content}}</p>
        </div>

        {% endfor %}
        

    </div>


    </body>
</html>